* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: inherit;
    text-decoration: inherit;
    list-style: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body,
html {
    height: 100vh;
}

/* Animations */
@keyframes floating {
    100% {
        transform: translateY(12px);
    }
}
@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

/* PC Screen */
@media screen and (min-width: 1280px) {
    /* ----- Header ----- */
    header {
        position: relative;

        height: 80%;
        min-height: 800px;

        margin-bottom: 128px;

        color: #ffffff;
        background-color: #2a2b59;

        font-size: 20pt;
    }
    @media screen and (max-height: 840px) {
        header {
            height: 100%;
            min-height: 0;
        }
    }
    header > .contents {
        position: relative;

        width: 100%;
        max-width: 1280px;
        height: 100%;

        margin: 0 auto;
    }

    /* Text */
    header .text {
        position: absolute;
        top: 30%;
        left: 84px;
    }

    header .text .title {
        font-family: noto-sans, sans-serif;
        font-size: 1.6em;
        font-weight: 600;
        text-transform: uppercase;
    }
    header .text .description {
        text-align: right;

        font-family: noto-sans-cjk-kr, sans-serif;
        font-weight: 200;
    }
    header .text hr {
        width: 580px;

        border: 0 solid #ffffff;
        border-width: 1px 0;
    }

    /* Decorations */
    header .deco .logo {
        position: absolute;
        bottom: 20%;
        right: 110px;

        width: 280px;

        animation-name: floating;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }
    header .deco .moon {
        position: absolute;
        top: 17.5%;
        right: 420px;

        width: 110px;
    }
    header .deco .stars {
        position: absolute;
        top: 32.5%;
        right: 16px;

        width: 540px;
    }

    header .deco .comet {
        display: inline-block;
        position: absolute;

        transform-origin: left;
        transform: rotateZ(-45deg);
    }
    header .deco .comet .head {
        position: absolute;
        height: 28px;
    }
    header .deco .comet .tail {
        position: absolute;
        top: 2px;
        left: 28px;

        height: 24px;
    }
    header .deco .comet:nth-child(1) {
        bottom: 20%;
        right: 670px;
    }
    header .deco .comet:nth-child(2) {
        top: 27.5%;
        right: 240px;
    }
    header .deco .comet:nth-child(2) .head {
        transform: rotateZ(45deg);
    }
    header .deco .comet:nth-child(3) {
        top: 17.5%;
        right: 760px;
    }
    /* ----- Header ----- */

    /* ----- Section ----- */
    article {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    /* introduce */
    #introduce {
        text-align: center;

        margin-bottom: 64px;

        color: #141516;
        font-size: 1.3em;
    }
    #introduce .title {
        margin-bottom: 8px;

        font-family: noto-sans, sans-serif;
        font-size: 2.5em;
        font-weight: 300;
    }
    #introduce p {
        font-family: noto-sans-cjk-kr, sans-serif;
        font-weight: 200;
    }

    /* Role Produce  */
    #role {
        margin-bottom: 128px;

        color: #ffffff;
    }

    #role .group {
        display: flex;
        justify-content: space-between;

        width: 915px;
        margin: 0 auto;
    }
    #role img {
        width: 300px;
        height: 300px;
    }
    #role .description {
        width: 600px;
        height: 300px;

        padding: 34px 38px;
    }
    #role .description .title {
        font-family: noto-sans, sans-serif;
        font-size: 3.25em;
        font-weight: 100;
    }
    #role .description p {
        font-family: noto-sans-cjk-kr, sans-serif;
        font-size: 1.1em;
        font-weight: 200;
        line-height: 1.75em;
    }

    #role .developer img {
        background-color: #1f2144;
    }
    #role .developer .description {
        text-align: right;

        background-color: #303b83;
        background-image: url("assets/images/panel_0.svg");
    }

    #role .designer {
        flex-direction: row-reverse;
        margin-top: 15px;
    }
    #role .designer img {
        background-color: #7991c6;
    }
    #role .designer .description {
        background-color: #4e68ac;
        background-image: url("assets/images/panel_1.svg");
    }

    /* Award */
    #award {
        max-width: 100%;

        margin-bottom: 128px;

        color: #ffffff;
        background-color: #11141e;
    }
    #award > .title {
        display: flex;
        justify-content: center;

        width: 100%;

        margin-bottom: 32px;
    }
    #award > .title .text {
        text-align: center;

        margin: 0 16px;

        font-family: noto-sans, sans-serif;
        font-size: 3.25em;
        font-weight: 100;
    }
    #award > .title hr {
        align-self: center;

        width: 124px;
        height: 4px;

        border: none;
        border-radius: 10px;

        background-color: #ffffff;
    }

    #award .scroll-box {
        overflow-y: auto;

        max-width: 1240px;
        height: 450px;

        margin: 0 auto;
    }
    #award .scroll-box::-webkit-scrollbar {
        width: 3px;
    }
    #award .scroll-box::-webkit-scrollbar-thumb {
        border-radius: 1.5px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    #award .scroll-box::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }

    #award .contents {
        position: relative;
    }

    #award .deco {
        position: absolute;
        left: 0;
        height: 0;

        width: 100%;
        height: 100%;
    }
    #award .deco .top {
        position: absolute;
        top: 0;
        left: 0;
    }
    #award .deco .bottom {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #award .year {
        display: flex;
        justify-content: center;

        margin-bottom: 64px;
    }
    #award .year > .title {
        font-family: noto-sans, sans-serif;
        font-size: 3em;
        font-weight: 100;
    }
    #award .year .prize-list {
        padding-top: 12px;
    }

    #award .year .prize {
        display: flex;

        margin-left: 48px;
        margin-bottom: 24px;

        font-family: noto-sans-cjk-kr, sans-serif;
        font-size: 1.1em;
        font-weight: 200;
    }
    #award .prize .title {
        display: flex;

        width: 256px;
        height: fit-content;
    }
    #award .prize .title hr {
        flex-grow: 1;

        align-self: center;

        height: 1px;
        margin: 0 8px;

        border: none;

        background-image: linear-gradient(to right, #ffffff 30%, #ffffff00 0%);
        background-position: bottom;
        background-size: 12px 1px;
        background-repeat: repeat-x;
    }
    #award .prize .list {
        width: 128px;
    }

    /* -- Information -- */
    #info {
        display: flex;
        justify-content: center;

        margin-bottom: 64px;
    }

    #info hr {
        height: 340px;
        margin: 0 16px;

        border: none;
        border-right: 1px solid #141516;
    }

    #info > div {
        display: flex;

        position: relative;

        align-self: center;

        width: 600px;
        padding: 16px;
    }
    #info > div img {
        width: 200px;
        margin-right: 16px;
    }
    #info .description {
        align-self: center;
    }
    #info .description .title {
        margin-bottom: 8px;

        color: #1f2144;
        font-family: noto-sans, sans-serif;
        font-size: 2.5em;
        font-weight: 300;
    }
    #info .description p {
        margin-bottom: 16px;

        color: #141516;
        font-family: noto-sans-cjk-kr, sans-serif;
        font-weight: 200;
        font-size: 1.1em;
        line-height: 1.5em;
    }

    /* Apply */
    #info .apply a {
        cursor: pointer;

        display: inline-block;

        position: absolute;
        bottom: -32px;
        right: 16px;

        padding: 0.75em 2em;

        border: 1px solid #2a2b59;
        border-radius: 100px;

        font-size: 1.1em;

        transition: color 0.25s, background-color 0.25s;
    }
    #info .apply a:hover {
        color: #ffffff;
        background-color: #2a2b59;
    }

    /* Help */
    #info .help .contact {
        display: block;

        margin-top: 16px;
    }

    /* -- Information -- */

    /* Link */
    #link {
        display: flex;
        justify-content: space-around;

        width: 256px;
        margin: 0 auto;
    }
    #link img {
        height: 72px;
    }

    /* ----- Section ----- */

    /* ----- Footer ----- */
    footer {
        display: flex;
        justify-content: space-between;

        height: 160px;
        margin-top: 128px;

        background-color: #2a2b59;
    }

    footer .text {
        display: flex;
        padding: 0 32px;
    }
    footer .text hr {
        align-self: center;

        width: 0;
        height: 60%;

        margin-right: 16px;

        border: 1px solid #ffffff;
        border-radius: 1px;
    }
    footer .text p {
        align-self: center;

        color: #ffffff;
        font-family: noto-sans, sans-serif;
        font-size: 0.8em;
        font-weight: 400;
    }
    footer .text a {
        text-decoration: underline;
    }

    footer img {
        height: 100%;
    }
    /* ----- Footer ----- */
}

/* Tablet Screen */
@media screen and (min-width: 425px) and (max-width: 768px) {
}

/* Mobile Screen */
@media screen and (max-width: 425px) {
}
